*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Mono', monospace;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    align-items: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: darkcyan;
}
p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    margin: 25px 0;
    line height: 60px;
}
.btn{
    display: inline-block;
    background-color:black;
    color: whitesmoke;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: darkgray;
}
.header{
    background: radial-gradient(white,orange);
}
.header.row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;

}
.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-conatiner{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.Books{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4:hover{
    transform: translateX(-5px);
}
.exclusive{
    background: radial-gradient(white,orange);
    margin-top: 80px;
    padding: 30px 0;
   
}


.col-2 .offer{
    padding: 50px;
    
}
.footer{
background:black;
color: aliceblue;
font-size: 14;
padding: 60px 0 20px;
}
.footer p{
    color:azure
}
.footer h3{
    color: azure;
    margin-bottom: 20px;
}
.footer-col1,.footer-col2,.footer-col3,.footer-col4{
min-width: 250px;
margin-right: 20px;
}
.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
    flex: 1;
    text-align: center;
}
.footer-col2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col3,.footer-col4{
    flex-basis: 12%;
    text-align: center;

}
ul{
    list-style: none;
}
.applogo{
    margin-top: 20px;
}
.applogo img{
    width: 140px;
}

select{
    border: 1px solid crimson;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid crimson;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: crimson;
    color: white;
}